@font-face {
    font-family: treasure;
    src: url(treasure.ttf);
}
/* This font is freeware, distribute freely, but do NOT sell the font in any way. Use the font for non-commercial use only! If you like to use the font in any commercial way, contact me before doing so!
Website : http://www.pizzadude.dk Contact :  pizzadude@pizzadude.dk Have fun and enjoy! * Jakob Fischer / PizzaDude
Always include this text file when distributing the font < */

@font-face {
    font-family: treasuremap;
    src: url(treasuremap.ttf);
}
/* Designed by JanneVu. https://www.fontspace.com/treasure-map-font-f40513 */

body {
    background-color: rgb(165, 180, 148);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Image made using perchance.org/ai-photo-generator */

header {
    margin-top: 5%;
}

#gamearea {
    display: flex;
    width: 80%;
    background-color: rgba(49, 36, 9, 0.703);
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 3%;
    max-width: 1000px;
    flex-wrap: wrap;
    border-radius: 50px;
}

.map {
    width: 240px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

.gridA, .gridB {
    /* make the border show up inside grid, so it doesn't add to the  */
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    background-color: grey;
} 

.gridA:hover {
    cursor: pointer;
    background-color: rgb(99, 41, 41);
} 

section {
    padding: 2%;
    margin-bottom: 0%;
}

.gridA.hit, .gridB.hit {
    font-family: treasuremap;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 2%;
    font-size: larger;
}

h1 {
    font-size: 30pt;
    margin-bottom: 0;
    font-family: treasuremap;
}

.btn {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 12pt;
    margin-top: 5%;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100px;
}

.btn:hover {
    background-color: rgba(49, 36, 9, 0.703);
    color: whitesmoke;
    border: 1px solid rgba(49, 36, 9, 0.703);
    cursor: pointer;
}

/* Below code created using resources from https://sabe.io/tutorials/how-to-create-modal-popup-box 
and <!-- About popup box made using w3 schools as reference --> */


.aboutbox {    
    visibility: hidden;
    position: fixed; 
/* "left" and "top" are partly responsible for why my attempts at making a modal weren't working */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.aboutinfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*translate(x,y ) = 2D translation. center on x and y axis. Positive translate value moves towards bottom, negative toowards top. This is also what was originally missing */
    background-color: whitesmoke;
    padding: 40px 20px 20px 20px;
    width: 40%;
    border-radius: 20px;
}

.closebtn {
    float: right;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: rgb(203, 203, 203);
    color: whitesmoke;
    font-weight: bolder;
    margin-top: -20px;
    margin-bottom: 5px;
}

.closebtn:hover {
    background-color:  rgb(150, 150, 150);
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.showabout {
    visibility: visible;
}

ul {
    display: grid;
    /* flex-direction: column; */
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}